@font-face {
    font-family: ConcourseRegular;
    src: url(/assets/concourse_t3_regular.woff)
}

@font-face {
    font-family: ConcourseRegular;
    src: url(/assets/concourse_t3_bold.woff);
    font-weight: bold;
}

@font-face {
    font-family: ConcourseRegular;
    src: url(/assets/concourse_t3_italic.woff);
    font-style: italic;
}

@font-face {
    font-family: ConcourseHeadings;
    src: url(/assets/concourse_t7_regular.woff);
}
